<h1>Orders</h1>

<%= link_to "Make a New Order", new_order_path %>

<table class="inventory-table">
  <tr>
    <th>Order Id</th>
    <th>Received Date</th>
    <th>Order Submitted</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(Order.find(order.id))  %></td>
      <td><%= order.received_date %></td>
      <td><%= order.in_shipment? %></td>
    </tr>
  <% end %>
</table>
