<h1 class="inventory-header">Orders</h1>

<table class="inventory-table">
  <tr>
    <th>Order Id</th>
    <th>Received Date</th>
    <th>In Shipment</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id  %></td>
      <td><%= order.received_date %></td>
      <td><%= order.in_shipment? %></td>
    </tr>
  <% end %>
</table>
