.order-form-header {
  text-align: center;
}

.order-form {
  margin-top: 20px;
  text-align: center;
  form {
    display: inline-block;
    div {
      float: right;
      clear: both;
      margin-bottom: 5px;
    }
  }
}
