@import "colors";

#search-errors {
  display: inline-block;
  ul {
    list-style-type: none;
  }
}

#edit-part-form  {
  text-align: center;
  form {
    display: inline-block;
    margin: auto;
    background: $light_gray;
    border-radius: 30px;
    padding: 20px;
  }
}

#warehouse-search {
  form {
    display: inline-block;
  }
}

.inventory-table {
  border: thin black solid;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  th {
    text-align: left;
    background: $lime;
  }

  tr {
    height: 35px;
    border: medium black solid;
    &:nth-child(odd) {
      background: $gray;
    }
    a:link {
      text-decoration: none;
    }
  }

  td {
    text-overflow: ellipsis;
  }

  .col-1 {
    min-width: 200px;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;

  .smallItem {
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    form {
      float: right;
      margin-top: 20px;
      margin-left: 20px;
    }
    .warehouse-name {
      display: inline-block;
      margin-left: 25%;
    }
  }

  .bigItem {
    flex: 1;
    text-align: center;
  }

  .nav-item {
    flex: 1;
    margin-top: 20px;
    a {
      display: inline-block;
    }
  }

  .inventory-header {
    text-align: center;
    display: inline-block;
  }
}
