@import 'colors';

#new-user-form-container {
  margin: auto;
  width: 30%;
  h2 {
    text-align: center;
  }
  .errors {
    clear: both;
    padding-top: 30px;
    float: right;
  }
}

#new-user-form {
  border-radius: 30px;
  padding: 20px 0px 20px 0px;
  background: $light_gray;
}
